/* Global Changes */

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2C8C99;
    --secondary-color: #70C1B3;
    --tertiary-color: #cc5a71;
    --shadow-box: ;
    --border-rad: ;
}

.main-bg {
    background-color: var(--primary-color) !important;
}

.pawprint-bg{
    background-image: url(images/pawprints.jpg);
    background-size: cover;
}

/* Header changes */

.backgroundriver{
    border-radius: 5px;
    background-image: url(images/riverheader.jpg);
    background-size: cover;
}

.headertext{
    font-weight: bold;
    color: var(--tertiary-color);
    -webkit-text-stroke: 1px black;
}

.logo-offset {
    position: relative;
    right: 42%;
}

.header-offset {
    position: relative;
    bottom: 10px;
}

.motto {
    font-size: 1rem;
    width: 40%;
    position: relative;
    left: 67.5%;
}

/* Nav Changes */

.nav-link{
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 1% 2.5%;
}

.nav-link:hover{
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px;
}