/* Global Changes */

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2C8C99;
    --secondary-color: #70C1B3;
    --tertiary-color: #cc5a71;
    --shadow-box: ;
    --border-rad: 5px;
    --main-border: 2px solid black;
}

.main-bg {
    background-color: var(--primary-color) !important;
}

.pawprint-bg{
    background-image: url(images/pawprints.jpg);
    background-size: cover;
}

.bold {
    font-weight: bold;
}

/* Header changes */

.background-river{
    border-radius: 5px;
    background-image: url(images/riverheader.jpg);
    background-size: contain;
}

.header-text{
    font-weight: bold;
    color: var(--tertiary-color);
    -webkit-text-stroke: 1px black;
}


.motto {
    font-size: 1.25rem;
    width: 40%;
    position: relative;
    left: 65%;
}

.fa-brands {
    color: var(--tertiary-color);
    -webkit-text-stroke: 0.2px black;
    position: relative;
    top: 15%;
}

.fa-brands:hover{
    transform: translate(-2px, -2px);
}

.socials {
    position: relative;
    bottom: 5%;
}

/* Nav Changes */

.nav-link{
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 1% 2.5%;
}

.nav-link:hover{
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px;
}

/* Information boxes */

.info-box{
    background-color: var(--primary-color);
    font-weight: bold;
    border-radius: 5px;
    border: var(--main-border);
}

.info-box-redirect {
    font-size: 1.5rem;
}

.info-box a:link, .info-box a:visited{
    color: var(--tertiary-color);
    -webkit-text-stroke: 0.2px black;
}

.info-box a:hover{
    color:#974052; 
}

.info-box-extra {
    display: block;
}

/* Index Page Specific changes */

.index-card {
    background-color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
}

/* Contact Page Specific changes */

.contact-info {
    font-size: 2rem;
}

.form {
    border-radius: var(--border-rad);
    border: var(--main-border);
}

/* About us Specific changes */

.img-scale {
    border-radius: var(--border-rad);
    width: 25%;
}

/* Media Queries */

@media (max-width: 768px){

}

@media (max-width: 1200px){
    .info-box-extra {
        display: none;
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}

@media (min-width: 1400px){

}